.mainDiv{
    margin-top: 2rem;

}
.innerDiv{
    margin: auto;
    background-color: #C9EEFF;
    color: black;
    height: 6rem;
    display: flex;
    align-items: center;
}
.heading{
    width: 80%;
    margin: auto;
}
.row{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.formContainer{
    width: 50%;
    margin:auto;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .row{
        width: 100%;
    }
    .formContainer{
        width: 100%;
        
    }
  }